---
title: Offline Account Generator
---

<script type="module" src="js/blacknet.js"></script>
<script type="text/javascript">
function bufferToHex(buffer) {
    return Array
        .from (new Uint8Array (buffer))
        .map (b => b.toString (16).padStart (2, "0"))
        .join ("");
}
function generate() {
	let mnemonic = window.blacknet_mnemonic();
	let kp = window.blacknet_mnemonic_keypair(mnemonic);
	let account = window.blacknet_pk_account(kp.publicKey);
	document.getElementById('account').value = account;
	document.getElementById('pubkey').value = bufferToHex(kp.publicKey);
	document.getElementById('mnemonic').value = mnemonic;
}
</script>

<input onclick="generate();" value="Generate new account" type="button">

<p>Account<br>
<input type="text" readonly="true" style="width:100%" id="account">
</p><p>Public key<br>
<input type="text" readonly="true" style="width:100%" id="pubkey">
</p><p>Mnemonic<br>
<input type="text" readonly="true" style="width:100%" id="mnemonic">
</p>
